@import "tailwindcss";

@theme {
  /* backgrounds /
--bg-carbon-900: #111d13; / Carbon Black (darkest) */
  --color-deep-700: #2a352f;
  --color-mid-500: #6b746e;

  /* foreground / text /
--fg-celadon-900: #e3f3e7; / Celadon (lightest for text) */
  --color-soft-700: #bfdcc0;
  --color-muted-500: #a1cca5;

  /* primary */
  --color-primary-900: #a1cca5;
  --color-primary-700: #bfdcc0;
  --color-primary-500: #e3f3e7;

  /* secondary */
  --color-secondary-900: #8fb996;
  --color-secondary-700: #a9c9b5;
  --color-secondary-500: #d6efe6;

  /* tertiary */
  --color-tertiary-900: #709775;
  --color-tertiary-700: #8fb39a;
  --color-tertiary-500: #d9efe0;

  /* accent */
  --color-accent-900: #415d43;
  --color-accent-700: #5b7a62;
  --color-accent-500: #cfe8d9;
}

body {
  background: var(--color-deep-700);
  color: var(--color-soft-700);
  font-family: Arial, Helvetica, sans-serif;
}